@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
** ブログリストレイアウト
------------------------------ */
.blogList {
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    font-size: inherit;
    gap: 2em;
    display: grid;
    grid-template-rows: auto auto auto auto;
    @include sp {
        display: flex;
        flex-direction: column;
        grid-template-rows: unset;
        width: 100%;
    }
    li {
        border: double 4px #81664b;
        display: grid;
        grid-row: span 4;
        grid-template-rows: subgrid;
        font-size: inherit;
        gap: 1em 0;
        padding: 3em 2em 2em;
        @include sp {
            grid-row: unset;
            grid-auto-flow: row;
            gap: 2vw 0;
            padding: 4vw;
        }
        .thumbnail {
            aspect-ratio: 1.5;
            object-fit: cover;
            width: 100%;
        }
        h3 {
            font-size: FZ(18);
            color: $base-brown;
            font-weight: 500;
            letter-spacing: 0.08em;
            text-align: justify;
            display: flex;
            justify-content: center;
        }
        .excerpt {
            text-align: justify;
            font-size: FZ(16);
            letter-spacing: 0.08em;
            line-height: 1.6em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        .readMore {
            justify-self: end;
            color: $base-orange;
            font-size: inherit;
            margin-top: 1em;
            transition: 0.3s ease-out;
            span {
                font-size: FZ(16);
                &::after {
                    content: ">";
                    margin-left: 0.5em;
                }
            }
            @include hover {
                color: $base-brown;
            }
        }
    }
}
.wrapPager {
    position: relative;
    font-size: inherit;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    &:has(.next):not(:has(.prev)) {
        justify-content: flex-end;
    }
    &:has(.prev):not(:has(.next)) {
        justify-content: flex-start;
    }
    button {
        position: relative;
        font-size: FZ(16);
        color: $base-orange;
        transition: 0.3s ease-out;
        &::after {
            transition: 0.3s ease-out;
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            width: 1.2em;
            @include svg-arrow-blog("ff9900");
        }
        &.prev {
            padding-left: 1.6em;
            &::after {
                left: 0;
                scale: -1 1;
            }
        }
        &.next {
            padding-right: 1.6em;
            &::after {
                right: 0;
            }
        }
        @include hover {
            color: $base-brown;
            &::after {
                @include svg-arrow-blog("81664b");
            }
        }
    }
}

/* =================================
** ブログページトップ
------------------------------ */
.containerBlogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    @include sp {
        padding: 6vw 4vw 16vw;
    }
    article {
        max-width: $articleMaxWidth;
    }
}

/* =================================
** ブログ詳細ページ
------------------------------ */
.containerDetailTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: inherit;
    background-color: $light-brown;
    padding: 1em 2em 5em;
    @include sp {
        padding: 6vw 4vw;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        color: $base-brown;
        .breadcrumb {
            align-self: flex-end;
            font-size: inherit;
            display: flex;
            align-items: center;
            gap: 0 0.5em;
            a {
                position: relative;
                font-size: FZ(14);
                text-decoration: underline 1px solid;
                padding-right: 0.5em;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    right: 0;
                    width: 1px;
                    height: 70%;
                    background-color: $base-brown;
                }
            }
            span {
                font-size: FZ(14);
                position: relative;
            }
        }
        h3 {
            margin-top: 4em;
            @include Serif;
            font-size: FZ(36);
            font-weight: 600;
            letter-spacing: 0.08em;
            @include sp {
                font-size: FZ(30);
                margin-top: 10vw;
            }
        }
    }
}
.containerDetailContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em 8em;
    gap: 5em 0;
    @include sp {
        padding: 6vw 4vw;
    }
    article {
        max-width: 84rem;
        display: flex;
        flex-direction: column;
        .itemDetails {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            div {
                font-size: FZ(16);
                line-height: 2em;
                text-align: justify;
                letter-spacing: 0.08em;
                figure {
                    font-size: inherit;
                    width: 100%;
                    a {
                        pointer-events: none;
                        font-size: inherit;
                        img {
                            width: fit-content;
                            max-width: 100%;
                        }
                    }
                }
                &:global(.attachment-gallery--2),
                &:global(.attachment-gallery--4),
                &:global(.attachment-gallery--6),
                &:global(.attachment-gallery--8) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0 1em;
                }
                &:global(.attachment-gallery--3),
                &:global(.attachment-gallery--5),
                &:global(.attachment-gallery--7),
                &:global(.attachment-gallery--9) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 0 1em;
                }
            }
        }
    }
    .articleNav {
        max-width: $articleMaxWidth;
        width: 100%;
        font-size: inherit;
        border-top: 1px solid rgb(129 102 75 / 50%);
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 2em 0 0;
            list-style: none;
            font-size: inherit;
            li {
                font-size: inherit;
                a {
                    position: relative;
                    font-size: FZ(16);
                    color: $base-orange;
                    transition: 0.3s ease-out;
                    &::after {
                        transition: 0.3s ease-out;
                        content: "";
                        position: absolute;
                        top: 50%;
                        translate: 0 -50%;
                        width: 1.2em;
                        @include svg-arrow-blog("ff9900");
                    }
                    &.prev {
                        padding-left: 1.6em;
                        &::after {
                            left: 0;
                            scale: -1 1;
                        }
                    }
                    &.next {
                        padding-right: 1.6em;
                        &::after {
                            right: 0;
                        }
                    }
                    @include hover {
                        color: $base-brown;
                        &::after {
                            @include svg-arrow-blog("81664b");
                        }
                    }
                }
            }
        }
    }
}
