@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
** タイトル
------------------------------ */
.containerDetailTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: inherit;
    background-color: $light-brown;
    padding: 1em 2em 5em;
    @include sp {
        padding: 4vw 4vw 6vw;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        color: $base-brown;
        .breadcrumb {
            align-self: flex-end;
            font-size: inherit;
            display: flex;
            align-items: center;
            gap: 0 0.5em;
            a {
                position: relative;
                font-size: FZ(14);
                text-decoration: underline 1px solid;
                padding-right: 0.5em;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    right: 0;
                    width: 1px;
                    height: 70%;
                    background-color: $base-brown;
                }
            }
            span {
                font-size: FZ(14);
                position: relative;
            }
        }
        .titleEn {
            @include Aleo;
            font-size: FZ(36);
            color: $base-brown;
            font-weight: 700;
            letter-spacing: 0.12em;
            margin-top: 4em;
            @include sp {
                margin-top: 10vw;
                font-size: FZ(24);
                text-align: center;
            }
        }
        h3 {
            font-size: FZ(18);
            margin-top: 1em;
        }
    }
}

/* =================================
** いにしえ通所介護事業所
------------------------------ */
.containerDayService {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 3em;
    @include sp {
        padding: 4vw 4vw 6vw;
    }
    h3 {
        font-size: FZ(26);
        font-weight: 600;
        color: $base-brown;
        letter-spacing: 0.04em;
        @include sp {
            font-size: FZ(22);
        }
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        padding: 5em 0;
        @include sp {
            padding: 6vw 0;
        }
        .wrapLink {
            align-self: flex-end;
            font-size: inherit;
        }
    }
    .block01 {
        gap: 3em 0;
        @include sp {
            gap: 6vw;
        }
        p {
            letter-spacing: 0.08em;
            font-size: FZ(18);
            line-height: 1.8em;
            width: 100%;
        }
        .boxContents {
            font-size: inherit;
            display: flex;
            gap: 0 3em;
            @include sp {
                flex-direction: column;
            }
            p {
                flex: 1;
            }
            figure {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em 0;
                figcaption {
                    font-size: FZ(18);
                }
            }
        }
        .boxDetailsList {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: inherit;
            dl {
                grid-column: span 2;
                font-size: inherit;
                display: grid;
                grid-template-columns: subgrid;
                padding-block: 1em;
                gap: 0 8em;
                border-bottom: solid 1px rgb(129 102 75 / 10%);
                @include sp {
                    display: flex;
                    flex-direction: column;
                    grid-template-columns: unset;
                    align-items: flex-start;
                    gap: 2vw 0;
                }
                dt {
                    color: $base-brown;
                    font-size: FZ(18);
                    font-weight: 600;
                    align-self: center;
                    @include sp {
                        align-self: flex-start;
                    }
                }
                dd {
                    font-size: FZ(18);
                    letter-spacing: 0.08em;
                    & > * {
                        font-size: inherit;
                    }
                    &.itemDetails {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        gap: 1em;
                    }
                }
                &:first-of-type {
                    border-top: solid 1px rgb(129 102 75 / 10%);
                }
                &:nth-of-type(2n) {
                    background-color: rgb(129 102 75 / 2%);
                }
            }
        }
    }
    .block02 {
        gap: 2em 0;
        @include sp {
            gap: 4vw 0;
        }
        p {
            letter-spacing: 0.08em;
            font-size: FZ(18);
            line-height: 1.8em;
            width: 100%;
        }
        .listImage {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 6em;
            font-size: inherit;
            margin-top: 2em;
            @include sp {
                grid-template-columns: unset;
                grid-auto-flow: row;
                gap: 4vw 0;
                padding-inline: 8vw;
                margin-top: unset;
            }
            img {
                width: 100%;
                aspect-ratio: 9/7;
            }
        }
    }
    .blockTextOnly {
        gap: 2em 0;
        @include sp {
            gap: 4vw 0;
        }
        p {
            letter-spacing: 0.08em;
            font-size: FZ(18);
            line-height: 1.8em;
            width: 100%;
        }
        a {
            align-self: flex-start;
            color: $base-pink;
            font-size: FZ(18);
            @include sp {
                font-size: FZ(16);
            }
        }
    }
}
