/* =================================
 * 	TOP
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

.boxH2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: inherit;
    gap: 2em 0;
    @include sp {
        gap: 6vw 0;
    }
    .sidebarH2 {
        @include Aleo;
        font-size: FZ(36);
        color: $base-brown;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.12em;
        @include sp {
            font-size: FZ(28);
            letter-spacing: 0.2em;
            text-align: center;
        }
    }
    h2 {
        font-size: FZ(22);
        font-weight: 600;
        letter-spacing: 0.04em;
        @include sp {
            font-size: FZ(30);
        }
    }
}
.linkPage {
    color: $base-brown;
    border: 2px solid;
    font-size: FZ(18);
    border-radius: 100vmax;
    padding: 0.8em 3em;
    letter-spacing: 0.04em;
    transition: 0.3s ease-out;
    @include hover {
        background-color: $base-brown;
        color: #fff;
    }
}
/* =================================
** フェード画像
------------------------------ */
.containerFadeImage {
    position: relative;
    height: 100vh;
    height: 100dvh;
    background-color: #000;
    overflow: hidden;
    @include sp {
        height: 60vh;
        height: 60dvh;
    }
    .slideImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 1.8s ease-in-out;
        z-index: 1;
        &.active {
            opacity: 1;
            z-index: 2;
        }
    }
    .boxTitle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        font-size: inherit;
        padding: 2em;
        @include sp {
            display: none;
        }
        .itemLogo {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em 0;
            img {
                width: 22rem;
            }
            span {
                color: $base-brown;
                font-size: FZ(24);
                font-weight: 700;
                letter-spacing: 0.04em;
            }
        }
        nav {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            font-size: inherit;
            gap: 0 1.6em;
            @include sp {
                display: none;
            }
            a {
                width: 216px;
                height: 52px;
                display: grid;
                place-content: center;
                font-size: FZ(18);
                color: #fff;
                font-weight: 500;
                letter-spacing: 0.2em;
                border-radius: 3px;
                background-image: linear-gradient(
                    138deg,
                    #f2be65 0%,
                    #e08c73 100%
                );
            }
        }
        @include sp {
            font-size: FZ(24);
        }
    }
}

/* =================================
** 「その人らしさ」を目指して
------------------------------ */
.containerMenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $light-brown;
    padding: 2em 2em 4em;
    @include sp {
        padding: 6vw 4vw;
        gap: 4vw 0;
    }
    nav {
        position: relative;
        font-size: inherit;
        display: flex;
        justify-content: center;
        gap: 0 1.4em;
        flex-wrap: wrap;
        @include sp {
            display: none;
        }
        .itemLink {
            letter-spacing: 0.08em;
            font-size: FZ(16);
            font-weight: 500;
            color: $base-brown;
            transition: 0.3s ease-out;
            &.recruit {
                color: $base-pink;
                font-weight: 500;
            }
            @include hover {
                color: $base-pink;
            }
        }
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7em;
        @include sp {
            display: contents;
        }
        h2 {
            @include Serif;
            font-size: FZ(36);
            color: $base-brown;
            font-weight: 600;
            letter-spacing: 0.2em;
            position: relative;
            &::after {
                content: "―";
                @include sp {
                    position: absolute;
                    left: 50%;
                    translate: -50%;
                    top: calc(100% + 0.1em);
                }
            }
            @include sp {
                font-size: FZ(30);
            }
        }
        p {
            font-size: FZ(18);
            margin-top: 2em;
            letter-spacing: 0.08em;
            line-height: 2em;
            text-align: justify;
        }
    }
}

/* =================================
** 梨園への思い
------------------------------ */
.containerGreeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    @include sp {
        padding: 6vw 4vw 16vw;
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include sp {
            display: contents;
        }
        h2 {
            @include Serif;
            font-size: FZ(42);
            color: $base-brown;
            font-weight: 600;
            letter-spacing: 0.08em;
            @include sp {
                font-size: FZ(36);
            }
        }
        h3 {
            font-size: FZ(20);
            font-weight: 600;
            letter-spacing: 0.08em;
            margin-top: 2em;
            @include sp {
                font-size: FZ(24);
            }
        }
        p {
            font-size: FZ(18);
            text-align: justify;
            letter-spacing: 0.08em;
            line-height: 2em;
            margin-top: 1em;
        }
        span {
            align-self: flex-end;
            line-height: 2em;
        }
        .pageLink {
            font-size: inherit;
            align-self: flex-end;
            margin-top: 0.5em;
        }
    }
}
/* =================================
** お知らせ・更新情報
------------------------------ */
.containerNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    @include sp {
        padding: 6vw 4vw 16vw;
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em 0;
        @include sp {
            max-width: unset;
            gap: 6vw 0;
        }
    }
}
/* =================================
** BLOG
------------------------------ */
.containerBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    @include sp {
        padding: 6vw 4vw 16vw;
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em 0;
        @include sp {
            max-width: unset;
            gap: 6vw 0;
        }
    }
}
/* =================================
** ページNAV
------------------------------ */
.containerPageNav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em 3em;
    @include sp {
        padding: 6vw 4vw;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        @include sp {
            display: contents;
        }
        .listPage {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 3em;
            @include sp {
                grid-template-columns: unset;
                grid-auto-flow: row;
                gap: 4vw 0;
            }
            li {
                position: relative;
                font-size: inherit;
                border: solid 1px rgba(242, 190, 101, 0.4);
                padding: 2em;
                display: flex;
                flex-direction: column;
                gap: 1em 0;
                @include sp {
                    padding: 4vw 2vw;
                }
                &::before {
                    content: "";
                    width: 100%;
                    background-image: linear-gradient(
                        90deg,
                        #f2be65 0%,
                        #e08c73 100%
                    );
                    height: 5px;
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
                h3 {
                    font-size: FZ(22);
                    color: $base-brown;
                    font-weight: 500;
                    letter-spacing: 0.04em;
                    padding-bottom: 0.5em;
                    border-bottom: solid 1px $base-orange;
                }
                img {
                    aspect-ratio: 1.7;
                    object-fit: cover;
                }
                p {
                    font-size: FZ(18);
                    letter-spacing: 0.08em;
                    text-align: justify;
                    line-height: 1.4em;
                }
                .itemLink {
                    color: $base-orange;
                    font-size: FZ(18);
                    margin-top: 1em;
                    letter-spacing: 0.08em;
                    align-self: flex-end;
                    transition: 0.3s ease-out;
                    @include sp {
                        margin-top: unset;
                    }
                    @include hover {
                        color: $base-brown;
                    }
                }
            }
        }
        .linkRecruit {
            font-size: inherit;
            margin-top: 5em;
            width: 100%;
            .wrapRecruitImage {
                position: relative;
                display: block;
                width: 100%;
                aspect-ratio: 1110/138;
                @include sp {
                    aspect-ratio: 626/522;
                }
                .pcImage {
                    display: block;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
                .spImage {
                    display: none;
                    @media (max-width: 768px) {
                        display: block;
                    }
                }
            }
        }
    }
}
