@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */

/* =================================
** 料金・サービス
------------------------------ */
.containerService {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 3em;
    @include sp {
        padding: 4vw 4vw 6vw;
    }
    h3 {
        font-size: FZ(26);
        font-weight: 600;
        color: $base-brown;
        letter-spacing: 0.04em;
        @include sp {
            font-size: FZ(22);
        }
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        padding: 5em 0;
        @include sp {
            padding: 6vw 0;
        }
    }

    // 「住宅型有料老人ホーム」とは
    .block01 {
        gap: 2em 0;
        @include sp {
            gap: 4vw 0;
        }
        p {
            font-size: FZ(18);
            line-height: 2em;
            letter-spacing: 0.04em;
        }
        img {
            max-width: 69rem;
            font-size: inherit;
            margin-top: 2em;
            @include sp {
                max-width: unset;
                width: 100%;
                margin-top: unset;
            }
        }
    }

    // 利用対象者
    .block02 {
        gap: 2em 0;
        ul {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            width: 100%;
            li {
                font-size: FZ(18);
                letter-spacing: 0.04em;
                border-bottom: solid 1px rgb(129 102 75 / 50%);
                padding-block: 0.5em;
                @include sp {
                    font-size: FZ(16);
                }
            }
        }
    }

    // 運営について
    .block03 {
        gap: 2em 0;
        @include sp {
            gap: 4vw 0;
        }
        .detailList {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: inherit;
            flex-direction: column;
            h4 {
                font-size: FZ(24);
                font-weight: 600;
                letter-spacing: 0.08em;
                grid-column: span 2;
                margin: 0.5em 0;
            }
            dl {
                grid-column: span 2;
                font-size: inherit;
                display: grid;
                grid-template-columns: subgrid;
                padding-block: 1em;
                gap: 0 8em;
                border-bottom: solid 1px rgb(129 102 75 / 10%);
                @include sp {
                    display: flex;
                    flex-direction: column;
                    grid-template-columns: unset;
                    gap: 2vw 0;
                }
                dt {
                    color: $base-brown;
                    font-size: FZ(18);
                    font-weight: 600;
                    align-self: center;
                    @include sp {
                        align-self: flex-start;
                    }
                }
                dd {
                    font-size: FZ(18);
                    letter-spacing: 0.08em;
                    color: #81664b;
                    & > * {
                        font-size: inherit;
                    }
                    &.itemDetails {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        gap: 1em;
                        @include sp {
                            gap: 2vw;
                        }
                    }
                }
                &:first-of-type {
                    border-top: solid 1px rgb(129 102 75 / 10%);
                }
                &:nth-of-type(2n) {
                    background-color: rgb(129 102 75 / 2%);
                }
            }
            p {
                grid-column: span 2;
                margin-top: 1em;
                font-size: FZ(18);
                font-weight: 500;
                letter-spacing: 0.04em;
            }
            &:first-of-type {
                margin-bottom: 4em;
                h4 {
                    color: $base-orange;
                }
            }
        }
    }
    .blockTextOnly {
        gap: 2em 0;
        @include sp {
            gap: 4vw 0;
        }
        p {
            letter-spacing: 0.08em;
            font-size: FZ(18);
            line-height: 1.8em;
            width: 100%;
        }
        a {
            align-self: flex-start;
            color: $base-pink;
            font-size: FZ(18);
            @include sp {
                font-size: FZ(16);
            }
        }
    }
}
