@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
** NEWSリストレイアウト
------------------------------ */
.newsList {
    position: relative;
    font-size: inherit;
    display: grid;
    grid-auto-flow: row;
    gap: 2em 0;
    @include sp {
        gap: 4vw 0;
    }
    li {
        border: double 4px #81664b;
        display: grid;
        grid-row: span 4;
        grid-template-rows: auto auto auto auto;
        font-size: inherit;
        gap: 0.5em 0;
        padding: 2em 2em 1em;
        @include sp {
            padding: 4vw 2vw;
        }
        .date {
            justify-self: end;
            font-size: FZ(16);
            font-weight: 500;
            letter-spacing: 0.05em;
            @include sp {
                font-size: FZ(12);
            }
        }
        h3 {
            font-size: FZ(22);
            color: $base-brown;
            font-weight: 500;
            letter-spacing: 0.08em;
            text-align: justify;
            @include sp {
                font-size: FZ(16);
                line-height: 1.4em;
            }
        }
        .excerpt {
            text-align: justify;
            font-size: FZ(16);
            letter-spacing: 0.08em;
            line-height: 1.6em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-top: 0.5em;
            @include sp {
                font-size: FZ(14);
            }
        }
        .readMore {
            justify-self: end;
            color: $base-orange;
            font-size: inherit;
            margin-top: 1em;
            transition: 0.3s ease-out;
            span {
                font-size: FZ(16);
                &::after {
                    content: ">";
                    margin-left: 0.5em;
                }
                @include sp {
                    font-size: FZ(14);
                }
            }
            @include hover {
                color: $base-brown;
            }
        }
    }
}

/* =================================
** ニュースページトップ
------------------------------ */
.containerNewsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    @include sp {
        padding: 6vw 4vw 16vw;
    }
    article {
        max-width: $articleMaxWidth;
    }
}

/* =================================
** ニュース詳細ページ
------------------------------ */
.containerDetailTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: inherit;
    background-color: $light-brown;
    padding: 1em 2em 5em;
    @include sp {
        padding: 6vw 4vw;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        color: $base-brown;
        .breadcrumb {
            align-self: flex-end;
            font-size: inherit;
            display: flex;
            align-items: center;
            gap: 0 0.5em;
            a {
                position: relative;
                font-size: FZ(14);
                text-decoration: underline 1px solid;
                padding-right: 0.5em;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    right: 0;
                    width: 1px;
                    height: 70%;
                    background-color: $base-brown;
                }
            }
            span {
                font-size: FZ(14);
                position: relative;
            }
        }
        h3 {
            margin-top: 4em;
            @include Serif;
            font-size: FZ(36);
            font-weight: 600;
            letter-spacing: 0.08em;
            @include sp {
                font-size: FZ(26);
                margin-top: 10vw;
            }
        }
    }
}
.containerDetailContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em 8em;
    gap: 5em 0;
    @include sp {
        padding: 6vw 4vw;
    }
    article {
        max-width: 90rem;
        display: flex;
        flex-direction: column;
        gap: 1em 0;
        .itemDetails {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            div {
                font-size: FZ(16);
                line-height: 2em;
                text-align: justify;
                letter-spacing: 0.08em;
                figure {
                    font-size: inherit;
                    width: 100%;
                    a {
                        pointer-events: none;
                        font-size: inherit;
                        img {
                            width: fit-content;
                            max-width: 100%;
                        }
                    }
                }
                &:global(.attachment-gallery--2),
                &:global(.attachment-gallery--4),
                &:global(.attachment-gallery--6),
                &:global(.attachment-gallery--8) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0 1em;
                }
                &:global(.attachment-gallery--3),
                &:global(.attachment-gallery--5),
                &:global(.attachment-gallery--7),
                &:global(.attachment-gallery--9) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 0 1em;
                }
            }
        }
    }
    .linkList {
        font-size: FZ(16);
        display: flex;
        width: 100%;
        justify-content: flex-end;
        max-width: 90rem;
        color: $base-orange;
    }
}
